{% extends "main.html" %}

{% block body %}
<center>
    <br><br>
    <h3 style="font-family:Arial, Helvetica, sans-serif;font-size: 20px;">Zonguldak Bülent Ecevit Üniversitesi</h3>
    <h3 style="font-family:Arial, Helvetica, sans-serif;font-size: 20px;">Öğrenci ve Yönetici Bilgi Sistemi</h3>
    <br><br><br>
    <hr>
    <a href="https://obs.beun.edu.tr/oibs/login.aspx" style="border-color:white;"><button type="submit" class="btn btn-dark">Yönetici Giriş</button></a>
    <br>
    <hr>
    <a href="/ogrencigiris" style="border-color:white;"><button type="submit" class="btn btn-dark">Öğrenci Giriş</button></a>
    <hr>
</center>
{% endblock body %}