{% extends "main.html" %}
{% block body %}
<center>
<br><br><br>
<form action="">
<label for="isim">İsim: </label>
<input type="text">
<br><br>
<label for="isim">Soyisim: </label>
<input type="text">
<br><br>
<label for="isim">Adres: </label>
<input type="text">
<br><br>
<label for="isim">Bölüm: </label>
<input type="text">
<br><br>
<label for="isim">Öğrenci No: </label>
<input type="text">
<br><br>
<label for="isim">Tcno: </label>
<input type="text">
<br><br>
<label for="isim">Katılma Nedeni: </label>
<input type="text" placeholder="Kısaca katılma nedeniniz">
<br><br>
<button>Başvur</button>

</form>
</center>

{% endblock body %}


